body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box{
    width: 300px;
    height: 300px;
    background-color: lightgray;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.box::before{
    content: '';
    width: 300px;
    height: 300px;
    background-color: black;
    position: absolute;
    padding: 20px;
    top: -3px;
    left: -3px;
    z-index: -1;
}