*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 32px;
}

.container{
    background-color: white;
    max-width: 1000px;
    width: 100%;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}

.tabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabs p{
    text-transform: uppercase;
    color: lightskyblue;
    font-weight: bold;
}

.tabs p:hover{
    cursor: pointer;
    color: blue;
}
.tabs .active{
    position: relative;
}

.tabs .active::before{
    content: '';
    background-color: blue;
    width: 200%;
    height: 4px;
    bottom: -5px;
    left: -50%;
    position: absolute;
    border-radius: 10px;
}

.line{
    position: absolute;
    height: 3px;
    background-color: lightseagreen;
    max-width: 1000px;
    width: 100%;
    top:110px;
}

.customers{
    margin: 50px auto;
    background-color:lightskyblue;
    padding: 10x;
    border-radius: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.customerText{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    margin-top: 10;
    margin-bottom: 0px;
}

.number{
    font-size: 100px;
    font-weight: bolder;
    color: white;
    margin-bottom: 25px;
    margin-top: 0;
}

.message{
    margin:20px auto;
}

.cardContainer{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 50px auto;
}

.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 16px 32px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease;
}

.card hr{
    width: 40%;
    color: blueviolet;
    border: 2px dashed blueviolet;
}

.title p{
    text-transform: uppercase;
    font-weight: bolder;
    margin: 4px 0px;
}

.price{
    font-size: 42px;
    margin: 4px 0px;
}

button{
    border:none;
    padding: 16px;
    background-color: skyblue;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 8px 0px;
    transition: all 0.2s ease;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card:hover{
    transform: translateY(-8px);
}

/* .cardProfessional{
    position: relative;
} */

.professional{
    background-color: lightblue;
    color: white;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    top:-25px;
    width: 100%;
    left: 0px;
}

@media screen and (max-width: 1024px ) {
    .tabs{
        align-items: center;
        flex-direction: column;
    }

    .line{
        display: none;
    }

    .customers{
        width: 100%;
    }
    .customerText{
        font-size: 20px;
        font-weight: bolder;
        color: white;
        margin-top: 20;
        margin-bottom: 0px;
    }

    .number{
        font-size: 50px;
        font-weight: bolder;
        color: white;
        margin-bottom: 25px;
        margin-top: 0;
    }

    .cardContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        align-items: center;
    }

    .card{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .card hr{
        display: none;
    }
}