#div1{
    background-color: yellow;
    width: 500px;
    height: 500px;
    background-image: url('https://images.unsplash.com/photo-1768609239321-1cfe14893e80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMTd8fHxlbnwwfHx8fHw%3D');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: left top;
    
}

#div2{
    background-color: red;
    width: 300px;
    height: 500px;
    background-image: url('https://images.unsplash.com/photo-1768637831592-0f167a7771f8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNTF8fHxlbnwwfHx8fHw%3D');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: top right;
    
}

