*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.navbar{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 16px 32px;
    background-color: white;
}

.navDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.navLinks{
    display: flex;
}

.navLink{
    padding: 16px 32px;
    display: block;
    letter-spacing: 4px;
    color: gray;
    transition: all 0.3s linear;
}

.navLink:hover{
    color: cornflowerblue;
}

.navIcons{
    display: flex;
}

.navIcon{
    margin-right: 12px;
    font-size: 20px;
    color: cornflowerblue;
}

.navHeader img{
    width: 50px;
}

.bannerSection{
    background-image: url("images/main.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: tomato;
}

.btn{
    background-color: cornflowerblue;
    padding: 6px 12px;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 20px;
    color:white;
    transition: all 0.3s linear;
}

.btn:hover{
    color: cornflowerblue;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.bannerBtnDiv{
    margin-top: 20px;
}
.bannerBtn{
    background-color: white;
    color: tomato;
    padding: 15px 20px;
    font-size: 20px;
    
}

.bannerBtn:hover{
    background: none;
    color: white;
    border: 3px dashed white;
}
