body{
    margin: 0;
}
.navbar{
    background-color:lightcyan;
    height: 70px;
    display: flex;
    align-items: center;
}

.register{
    margin-left: auto !important;
    margin-left: auto !important;
    margin-right: 50px ;
}

.navLink{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0px 30px;
}