*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.div1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: green;
    left: 0px;
    top:0px;
}

.div2{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
    left: 0px;
    bottom:0px;
}

.div3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: pink;
    right: 0px;
    top:0px;
}

.div4{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: gray;
    right: 0px;
    bottom:0px;
}