body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
}

h1{
    display: inline-block;
    font-weight: 300;
}
header{
    margin: 32px;
}
.links{
    display: inline-block;
}

.links li{
    display: inline-block;
}

.links li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 20px;
}

a.active{
    border-bottom:2px solid black;
}
.card{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    padding: 16px;
}
.card img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.card img:hover{
    opacity: 0.9;
}

.gallery{
    padding: 15px;
}

.card h2{
    margin: 8px 0px 16px 0px;
    font-weight: 300;
}

.why{
    width: 50%;
    margin: 100px 200px;
    
}

.banner{
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}

.message{
    color: red;
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
    margin-top:0px ;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.contact p{
    font-size: 20px;
    margin: 0;
}