/* div{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: aliceblue;
    margin:30px;
    padding: 20px;
}

#title{
    box-sizing: border-box;
} */

.inline{
    background-color: antiquewhite;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: inline;
}

.inline-block{
    background-color: antiquewhite;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.block{
    background-color: antiquewhite;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: block;
}

.middle{
    margin: 0% 50%;
    border:1px solid black;
    width: 100px;
    height: 100px;
}