*{
    box-sizing: border-box;
    
}
img{
    width: 100%;
}
body{
    overflow-x: hidden;
}

.hamburgerMenu{
    position: fixed;
    top:20px;
    left:20px;
    z-index: 1;
}

.bar{
    width: 50px;
    height: 10px;
    background-color: #40b27f;
    margin: 10px 0px;
    border-radius: 10px;
    animation: showBars 1s infinite;
}

.header{
    background-image: url('main.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.808);
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.banner h2{
    animation: slideFromRight 4s ease;
    color: #40b27f;
}

.bannerBtn{
    color: white;
    text-decoration: none;
    background-color: #40b27f;
    padding: 10px 50px;
    font-size: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: all 0.4s;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.bannerBtn:hover{
    color: #40b27f;
    background-color: white;
    border: 2px solid #40b27f;
    
}

.divider{
    background-color: #40b27f;
    width: 100%;
    height: 20px;
}

.features{
    display: flex;
}

.feature{
    padding: 40px 0px;
    text-align: center;
    transition: all 0.3s;
}

.featureIcon{
    font-size: 40px;
    color: #40b27f;
    margin-bottom: 20px;
}

.featureText{

    padding: 30px;
}

.feature:hover{
    background-color: lightgrey;
}

.aboutDiv{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 50px 10px;
}
.aboutPicture img{
    border: 5px solid #40b27f;
    border-radius: 30px;
    transition: all 0.3s;
}

.aboutPicture img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}


.aboutImg{
    width: 50%;
}
.aboutInfo{
    width: 40%;
}

.productsDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: beige;
}

.productInfo{
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.productContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.product{
    margin: 10px 20px;
    align-items: center;
    text-align: center;
}

.product img{
    border-radius: 20px;
}

@keyframes slideFromRight{
    0%{
        transform: translateX(1000px);
        opacity: 0;
    }100%{
        transform: translateX(0px);
        opacity:1;
    }
}

@keyframes showBars{
    0%{
        transform: scale(1);
    }50%{
        transform: scale(0.75);
    }100%{
        transform: scale(1);
    }
}