*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.navCenter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
}
.nav{
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navLogo{
    width: 50px;
}
.navLinks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    justify-self: end;
    column-gap: 30px;
    color: gray;
}

.navLinks a{
    color: gray;
    font-size: 20px;
    letter-spacing: 3px;
    transition: all 0.3s linear;
}

.bannerSecondTitle{
    color: gray;
    letter-spacing: 2px;
}

.btn{
    color: brown;
    background-color:white;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    transition: all 0.3s linear;
}
 .btn:hover{
   background-color: lightgoldenrodyellow;
}

.title{
    font-size: 50px;
}

.underline{
    width: 90px;
    height: 4px;
    background-color: darkmagenta;
    margin: 5px auto 20px 0px;
}

.sectionCenter{
    padding: 100px 0px;
    max-width: 1170px;
    margin: 0px auto;
    width: 100%;
}

.navLinks a:hover{
    color: darkmagenta;
}
.banner{
    background-color: ghostwhite;
}
.bannerDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    
    
}

.bannerPhoto{
    width: 400px;
    border: 4px solid darkmagenta;
    border-radius:20px ;
}
.about{
    background-color: azure;
}
.aboutCenter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}

.servicesTitle{
    text-align: center;
    margin-bottom: 60px;
}
.servicesTitle .underline{
    margin: 0px auto;
}

.service .underline{
    margin: 0px auto;
}

.servicesSection{
    background-color: antiquewhite;
    
}

.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}
.serviceIcon{
    font-size: 30px;
    margin: 20px 0px;
}
.service{
    padding: 50px 25px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.service:hover{
    color: white;
    background-color: darkmagenta;
}

.service h4{
    font-size: 20px;
}
.projectsSection{
    background-color: darkgray;
    
    
}

.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 200px;
    gap: 20px;
    grid-template-areas: 
    'a b b'
    'a c d';
}

.project1{
    grid-area: a;
}

.project2{
    grid-area: b;
}

.project3{
    grid-area: c;
}

.project4{
    grid-area: d;
}

.projectsSection .underline{
    margin: 0px auto;
} 
.projectsTitle{
    text-align: center;
    margin-bottom: 60px;
}
.project{
    height: 100%;
    position: relative;
    background-color: darkmagenta;
    
}

.project:hover .projectInfo{
    opacity: 1;
}

.project:hover .projectImg{
    opacity: 0.3;
}

.projectImg{
    height: 100%;
    width: 100%;
    transition: all 0.3s linear;
}

.projectsText{
    max-width:500px;
    margin: 30px auto;
}

.projectInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    opacity: 0;
    transition: all 0.3s linear;
}

.project::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.3s linear;
}

.project:hover::before{
    opacity: 1;
    transform:scale(0.8);

}

.skills{
    background: aliceblue;
}

.skillTitle .underline{
    margin: 0px auto;
} 

.skillTitle{
    text-align: center;
    margin-bottom: 60px;
}

.skillsCenter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
}

.skillContainer{
    position: relative;
    width: 100%;
    height: 16px;
    background-color: white;
    border-radius: 10px;
}

.skillValue{
    position: absolute;
    background-color:darkmagenta;
    height: 100%;
    border-radius: 10px;
}

.skillText{
    position: absolute;
    top:-32px;
    left: 90%;
    transform: translateX(-50%);
}

.skill{
    margin-bottom: 30px;
}

.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}

.timeLine .underline{
    margin: 0px auto;
}

.timeLine{
    background-color: gainsboro;
}

.timeLineTitle{
    text-align: center;
    margin-bottom: 60px;
}

.timeLineItem{
    border-top: 2px dashed darkmagenta;
    padding: 60px 30px;
    position: relative;
}
.number{
    position: absolute;
    top:50%
}
.timeLineItem:first-child{
    border-top: 0;
    border-top-right-radius: 0px !important;
}

.timeLineItem:last-child{
    border-bottom-left-radius: 0px !important;
}



.timelineCenter{
    width: 70%;
}

.timeLineItem:nth-child(odd){
    border-right: 2px dashed darkmagenta;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
}

.timeLineItem:nth-child(even){
    border-left: 2px dashed darkmagenta;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
}

.timeLineItem h4{
    font-size: 20px;
}
.timeLineItem:nth-child(odd) .number{
    width: 30px;
    height: 30px;
    background-color: yellow;
    top:50%;
    right:0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: brown;
    font-weight: 700;
    transform: translate(50%,-50%);
}

.timeLineItem:nth-child(even) .number{
    width: 30px;
    height: 30px;
    background-color: yellow;
    top:50%;
    left:0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: brown;
    font-weight: 700;
    transform: translate(-50%,-50%);
}

.blog{
    background-color: floralwhite;
}

.blogCenter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 30px;
}

.blogTitle{
    text-align: center;
}

.blogTitle .underline{
    margin: 0px auto;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    height: 400px;
    border-radius: 20px;
}

.cardInfo{
    text-align: center;
    padding: 10px 20px;
}

.cardInfo h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.card img{
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.cardBtn{
    margin-top:30px;
    margin-bottom:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:wheat
}

.footer{
    background-color: black;
    color: white;
    padding-bottom: 60px;
    display: grid;
    place-items: center;
}

.socialIcon{
    font-size: 24px;
    color: white;
    list-style: none;
}

.socialIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
    place-items: center;
}

.footer p{
    color: white;
    font-size: 20px;
    margin: 0px auto;
    letter-spacing: 3px;
}

.navBtn{
    display: none;
}

@media screen and (max-width:768px) {
    .bannerImg{
        display: none;
    }

    .bannerPhoto{
        display: none;
    }

    .navBtn{
        display: inline-block;
        font-size: 32px;
        justify-self: end;
        color: darkmagenta;
        border: none;
        background-color: white;
    }
    .navCenter{
        grid-template-columns: 1fr;
    }

    .navCenter div{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0px 20px;
    }

    .blogCenter,.services,.bannerDiv,.aboutCenter,.skillsCenter{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .service{
        margin-bottom: 20px;
    }
    .navLinks{
        display: none;
    }

    .projects{
        display: grid;
        grid-template-areas: 
        'a b'
        'c d'
        ;
        margin: 0px auto;
    }

    .sidebar{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background-color: gray;
        display: grid;
        place-items: center;
        transform: translateX(-100%);
        transition: all 0.3s linear;
    }

    .showSidebar{
        transform:translateX(0);
    }

    .closeBtn{
        position: absolute;
        top:15px;
        right: 15px;
        font-size: 28px;
        background: transparent;
        border: none;
        color: darkmagenta;
    }

    .sidebar a{
        color: white;
        font-size: 30px;
        letter-spacing: 4px;
        margin-bottom: 25px;
        display: inline-block;
    }
}