*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.navCenter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
}
.nav{
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navLogo{
    width: 50px;
}
.navLinks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    justify-self: end;
    column-gap: 30px;
    color: gray;
}

.navLinks a{
    color: gray;
    font-size: 20px;
    letter-spacing: 3px;
    transition: all 0.3s linear;
}

.bannerSecondTitle{
    color: gray;
    letter-spacing: 2px;
}

.bannerDiv .btn{
    color: brown;
    background-color:white;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.bannerDiv .btn:hover{
   background-color: lightgoldenrodyellow;
}

.title{
    font-size: 50px;
}

.bannerInfo .underline{
    width: 90px;
    height: 4px;
    background-color: darkmagenta;
    margin: 5px auto 20px 0px;
}

.sectionCenter{
    padding: 100px 0px;
    max-width: 1170px;
    margin: 0px auto;
    width: 100%;
}

.navLinks a:hover{
    color: darkmagenta;
}
.banner{
    background-color: ghostwhite;
}
.bannerDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    
    
}

.bannerPhoto{
    width: 400px;
    border: 4px solid darkmagenta;
    border-radius:20px ;
}