.container{
    border: 4px solid black;
    width: 1200px;
    height: 600px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    color: white;
}

h1{
    font-size: 70px;
    text-align: center;
}

.box1{
    order:2;
}
.box2{
    order: -1;
}
.box3{
    order: 1;
}
.box4{order: 0;}
.box5{order: -2;}
.box6{order: 3;}