.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40b27f;
    height: 80px;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.headerLinks{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.banner{
    background-image: url('banner.jpg');
    height: 400px;
    position: relative;
}

.bannerContent{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    background-color: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cardHolder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    border:1px dashed black;
    border-radius: 20px;
    margin: 20px 0px;
}

.cardImg{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.cartTitle{
    text-align: center;
    color: red;
}

.cardContent{
    padding: 20px;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.price{
    color: red;
    font-size: 30px;
    font-style: italic;
}

.btnBuy{
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #40b27f;
    border: none;
    color: white;
    border-radius: 20px;
}

footer{
    background-color: #40b27f;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    margin-top: 50px;
}
.footerMenuHolder{
    list-style-type: none;
}

.footerMenuLink{
    margin: 20px 0px;
    font-size: 25px;
    color: white;
}

.mobilLogo{
    display: none;
}
@media screen and (max-width:600px){
    .headerLogo{
        display: none;
    }
    .mobilLogo{
        display: block;
    }

    .header{
        flex-direction: column;
        align-items: flex-start;
    }

    .mobileLink{
        display: flex;
        flex-direction: column;
    }

    .mobileLinkMain{
        display: none;
    }

    .footer{
        height: auto;
    }
}

@media screen and (max-width:900px){

    .cardHolder{
        flex-wrap: wrap;
        padding: 0px 30px;
        overflow: none;
        box-sizing: border-box;
    }

    .card{
    width: 200px;
    border:1px dashed black;
    border-radius: 20px;
    margin: 20px 0px;
    }

    .cardImg{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }

    .headerLogo{
        display: none;
    }
    .mobilLogo{
        display: block;
    }

    .header{
        flex-direction: column;
        align-items: flex-start;
    }

    .mobileLink{
        display: flex;
        flex-direction: column;
    }

    .mobileLinkMain{
        display: none;
    }

    .footer{
        height: auto;
    }
}