body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.btn{
    border: 2px solid lightcoral;
    padding: 20px 40px;
    border-radius: 30px;
    text-decoration: none;
    color: coral;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
}

.btn::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: coral;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: -1;
}

.btn:hover::before{
    transform: translateX(0);
}

.btn:hover{
    color: white;
}