body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
}

h1{
    display: flex;
    font-weight: 300;
}
header{
    margin: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar1,.bar2,.bar3{
    width: 36px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin: 3px;

}

.navbar .hamburger{
    display: none;
}

.links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}



.links li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 20px;
}

a.active{
    border-bottom:2px solid black;
}
.card{
    width: 49%;
    box-sizing: border-box;
    padding: 16px;
}
.card img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.card img:hover{
    opacity: 0.9;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: translateY(-20px);
}

.gallery{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.card h2{
    margin: 8px 0px 16px 0px;
    font-weight: 300;
}

.why{
    width: 50%;
    margin: 100px 200px;
    
}

.banner{
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}

.message{
    color: red;
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
    margin-top:0px ;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.contact p{
    font-size: 20px;
    margin: 0;
}

@media screen and (max-width:768px){
    .navbar .hamburger{
        display: block;
    }

    .navbar .links{
        display: none;
    }

    .navbar h1{
        font-size: 20px;
    }

    .why{
        width: 80%;
        margin: 0px;
        padding: 10px;
    }
    .card{
        width: 100%;
    }
}

.animationBar1{
    animation:1s fadeBar1;
    animation-fill-mode: forwards;
}

.animationBar2{
    animation:1s fadeBar2;
    animation-fill-mode: forwards;
}

.animationBar3{
    animation:1s fadeBar3;
    animation-fill-mode: forwards;
}

@keyframes fadeBar1{
    from{
        transform: rotate(0);
    }to{
        transform: rotate(45deg) translate(4px,6px);
    }
}

@keyframes fadeBar2{
    from{
        transform: scaleX(1);
    }to{
        transform: scaleX(0);
    }
}

@keyframes fadeBar3{
    from{
        transform: rotate(0);
    }to{
        transform: rotate(-45deg) translate(4px,-6px);
    }
}