.container{
    border: 4px solid black;
    width: 1200px;
    margin: 40px auto;
    display: flex;
}

.box{
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    color: white;
}

h1{
    font-size: 70px;
    text-align: center;
}

