body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.basket{

    position: relative;
    background-color: pink;
    z-index: 1;
    width: 50px;
    padding: 20px;
    border: 3px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
}

.basketCounter{
    position: absolute;
    top:-20px;
    right: -10px;
    background-color: green;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    border: 3px solid white;
    font-weight: bolder;
}