*{
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: block;
    padding: 10px 30px;
}

.navbar-header{
    display: inline-block;
    margin: 50px 0px;
    font-size: 30px;
    font-weight: 100;
}

.navbar-menu{
    display: inline-block;
    margin-left: 40px;
}

.navbar-menu-item{
    display: inline-block;
    font-size: 20px;
    margin: 0px 20px;
    font-weight: 100;
}

.navbar-menu-active{
    text-decoration: underline;
}

.container{
    padding: 10px 30px;
    width: 100%;
}

.reference-card{
    display: inline-block;
    width:48%;
    height:400px;
    margin: 10px;
    transition: all 0.3s;
}

.reference-card-header{
    width: 100%;
    display: inline-block;
    font-size: 300;
}

.reference-card-header img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.reference-card:hover{
    opacity: 0.9;
    transform: translateY(-10px);
}

.reference-card-content{
    margin:30px 0px;
    font-size: 20px;
    font-weight: 100;
}

.banner{
    margin-left: 120px;
    margin-top: 120px;
    display: block;
}
.banner-content{
    display: block;
    width: 60%;
    font-size: 30px;
    font-style: italic;
}
.banner-motto{
    font-size: 50px;
    font-weight: bold;
    color: red;
    margin: 30px 0px;
    font-style: italic;
}
.banner-info{
    margin: 30px;
    font-weight: bold;
}