*{
    margin: 0;
    box-sizing: border-box;
}
.div1{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-left: 200px;
    position: relative;
}
.div2{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: -50px;
    margin: 35% auto;
}