body{
    background-color: pink;
}

.container{
    background-color: white;
    width: 600px;
    border-radius: 30px;
    padding: 40px;
    margin: 100px auto;
}

h1,h2,p{
    color: purple;
}

h1{
    font-weight: 400;
}

button{
    background-color: green;
    padding: 20px;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}