#div1{
    background-color: yellow;
    width: 500px;
    height: 500px;
    position: relative;
    top:0;
    left:0
}

#div2{
    background-color: red;
    width: 300px;
    height: 300px;
    position: relative;
    top:-500px;
    left:0;
    z-index: 1;
}

#div3{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: relative;
    top:-800px;
    left:0;
    z-index: 2;
}