.box{
    width: 300px;
    height: 300px;
    background-color: lightblue;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name:backgroundChange;
    animation-duration:3s;
}

@keyframes backgroundChange{
    from{
        background-color: lightcoral;
    }to{
        background-color: lightcyan;
    }
}