.container{
    height: 700px;
    width: 70%;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(0 0 0 /0.2);
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;  BURADAKİ KOD İLE AŞAĞIDAKİ AYNI*/
    grid-template-columns: repeat(4,1fr);
}

.box{
    color: white;
    font-size: 30px;
    text-align: center;
}