.container{
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(0 0 0 /0.2);
    display: grid;
    grid-template:1fr 1fr / repeat(4,1fr);
    

}

.alignMe{
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box{
    color: white;
    font-size: 30px;
    text-align: center;
}