.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40b27f;
    height: 80px;
    padding: 20px;
}

.headerLinks{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.banner{
    background-image: url('banner.jpg');
    height: 400px;
    position: relative;
}

.bannerContent{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    background-color: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cardHolder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    border:1px solid black;
    border-radius: 20px;
    margin-top: 20px;
}

.cardImg{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.cartTitle{
    text-align: center;
}

.cardContent{
    padding: 20px;
}