body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    max-width: 90%;
    margin: 0px auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
}

.navbar .title{
    font-size: 30px;
    font-weight: bold;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.navbar a:hover{
    text-decoration: underline;
}

.aboutMe{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutMe i{
    font-size: 30px;
    color: black;
}

.hamburger{
    display: none;
}
/* NAVBAR CSS KISMI BİTİŞİ NAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİ */
/* NAVBAR CSS KISMI BİTİŞİ NAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİ */
/* NAVBAR CSS KISMI BİTİŞİ NAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİ */
/* NAVBAR CSS KISMI BİTİŞİ NAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİ */
/* NAVBAR CSS KISMI BİTİŞİ NAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİNAVBAR CSS KISMI BİTİŞİ */

#tower {
  grid-area: tower;
}
#flower {
  grid-area: flower;
}
#old {
  grid-area: old;
}
#modern {
  grid-area: modern;
}
#serious {
  grid-area: serious;
}
#russian {
  grid-area: russian;
}
#business {
  grid-area: business;
}
#avm {
  grid-area: avm;
}
#green {
  grid-area: greenHome;
}
.project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.overlay{
    position: absolute;
    color: white;
    font-size: 50px;
    opacity: 0;
    transition: all 0.2s ease;
    
}

.project:hover .overlay{
    opacity: 1;
}

.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.gridLayout{
    
    display: grid;
    grid-template-areas: 
    'tower tower serious'
    'tower tower serious'
    'tower tower old'
    'modern flower flower'
    'russian business business'
    'russian business business'
    'avm avm greenHome'
    'avm avm greenHome';
    gap:20px
}

/* GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ */
/* GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ */
/* GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ */
/* GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ */
/* GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ  GRID KISMININ BİTİŞİ */

.footer{
    padding: 60px;
    text-align: center;
    font-size: 20px;
}

/* MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ */
/* MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ */
/* MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ */
/* MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ */
/* MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ  MOBİL GÖRÜNÜM CSSLERİ */

@media only screen and (max-width:768px){
    
    .gridLayout{
        grid-template-areas: 
        'tower tower'
        'flower old'
        'modern serious'
        'russian russian'
        'business avm'
        'greenHome greenHome'
        ;
    }

    .overlay{
    font-size: 30px;
    }
    .aboutMe{
        display: none;
    }
    .hamburger{
        display: inline-block;
    }

    .bar{
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 5px 0px;
        border-radius: 10px;
    }



}