*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: dimgrey;
    height: 75px;
    padding-left: 20px;
}

.navLogo{
    height: 100%;
}
.banner{
    background-color: floralwhite;
    padding: 50px 0px;
}
.bannerDiv,.adoutDiv{
    display: flex;
    justify-content: space-around;
}

.bannerImg,.aboutImg{
    width: 30%;
    border: 4px solid darkmagenta;
    border-radius: 30px;
}

.bannerPhoto,.aboutPhoto{
    width: 100%;
}

.underLine{
    width: 80px;
    height: 4px;
    background-color: darkmagenta;
    margin-bottom: 20px;
}

.name{
    font-size: 50px;
    margin-bottom: 20px;
}

.title{
    font-size: 40px;
    margin-bottom: 20px;
}

.students{
    font-size: 30px;
    margin-bottom: 20px;
}

.manyCourses{
    font-size: 25px;
    margin-bottom: 20px;
}

.bannerInfo span{
    color: darkmagenta;
}

.btn{
    background-color: darkmagenta;
    border: 4px solid darkmagenta;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding:10px 20px;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.btn:hover{
    color: darkmagenta;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.aboutInfo{
    width: 40%;
}

.aboutSection{
    padding: 100px 40px;
    background-color: lightgrey;
}

.aboutName{
    font-size: 50px;
}
.courseTitle .underLine{
    margin: 0px auto 20px auto;
}
.aboutInfo p{
    margin-top: 30px;
}
.courseTitle{
    text-align: center;
    margin-bottom: 30px;
}
.courseName{
    font-size: 50px;
}

.courseCoupon span{
    color: darkmagenta;
    font-size: 30px;
}

.courses{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course{
    width: 400px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.course img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.courseInfo{
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.price{
    color: darkmagenta;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
}

.sectionFooter{
    background-color: black;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContainer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerSocialMedia{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

.footerSlogan{
    font-size: 20px;
     margin-bottom: 30px;
}

@media screen and (max-width:768px){
    .bannerImg,.aboutImg{
        display: none;
    }

    .bannerInfo{
        text-align: center;
    }

    .aboutSection{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .adoutDiv{
        text-align: center;
        width: 100%;
    }

    .aboutInfo{
        width: 100%;
    }

    .courses{
        flex-direction: column;
    }

    .course{
        width: 100%;
    }
    .course img{
        width: 100%;
    }
}
