*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: dimgrey;
    height: 75px;
    padding-left: 20px;
}

.navLogo{
    height: 100%;
}
.banner{
    background-color: floralwhite;
    padding: 50px 0px;
}
.bannerDiv,.adoutDiv{
    display: flex;
    justify-content: space-around;
}

.bannerImg,.aboutImg{
    width: 30%;
    border: 4px solid darkmagenta;
    border-radius: 30px;
}

.bannerPhoto,.aboutPhoto{
    width: 100%;
}

.underLine{
    width: 80px;
    height: 4px;
    background-color: darkmagenta;
    margin-bottom: 20px;
}

.name{
    font-size: 50px;
    margin-bottom: 20px;
}

.title{
    font-size: 40px;
    margin-bottom: 20px;
}

.students{
    font-size: 30px;
    margin-bottom: 20px;
}

.manyCourses{
    font-size: 25px;
    margin-bottom: 20px;
}

.bannerInfo span{
    color: darkmagenta;
}

.bannerInfo a{
    background-color: darkmagenta;
    border: 4px solid darkmagenta;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding:10px 20px;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.bannerInfo a:hover{
    color: darkmagenta;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.aboutInfo{
    width: 40%;
}

.aboutSection{
    padding: 100px 40px;
    background-color: lightgrey;
}

.aboutName{
    font-size: 50px;
}

.aboutInfo p{
    margin-top: 30px;
}